documentation/latex/
documentation/html/
.DS_Store
RuleBasedOptimizer.xcodeproj/project.xcworkspace/xcuserdata/christiandeckert.xcuserdatad/UserInterfaceState.xcuserstate

RuleBasedOptimizer.xcodeproj/project.xcworkspace/xcuserdata/christiandeckert.xcuserdatad/UserInterfaceState.xcuserstate